/*
 * BLOG CONTENT START
 */
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.2em;
}

p,
.rst-content dl dd {
  line-height: 1.7;
}

a,
a:visited,
a:hover,
.rst-versions .rst-current-version,
.rst-versions a{
  color: #FFB600;
}

.rst-content .toc-backref {
  pointer-events: none;
}

.rst-content .toc-backref:hover {
  text-decoration: none;
}

.section a.reference {
  color:#312d2d;
  text-decoration: underline;
}

section.wy-nav-content-wrap > div.wy-nav-content {
  background: transparent;
}

.wy-nav-content-wrap {
  background: rgba(252,252,252);
}

.wy-nav-content {
  background: rgba(252,252,252);
  margin-top: 54px;
  transition: margin 0.1s ease;
}

.wy-grid-for-nav {
  margin-top: 64px;
  height: calc(100% - 64px);
}

a.reference:hover {
  color: #FFB600;
}

a:hover {
  text-decoration: underline;
}

a.btn:hover{
  text-decoration: none;
}

/* This prevents titles from being hidden by 
  the header bars when using internal links */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  display: block; 
  content: " "; 
  margin-top: -118px; 
  height: 118px; 
  visibility: hidden; 
  pointer-events: none; 
}

.wy-nav-content.showing-search-bar h1::before,
.wy-nav-content.showing-search-bar h2::before,
.wy-nav-content.showing-search-bar h3::before,
.wy-nav-content.showing-search-bar h4::before,
.wy-nav-content.showing-search-bar h5::before,
.wy-nav-content.showing-search-bar h6::before {
  margin-top: -174px; 
  height: 174px; 
}

div.rst-content a.headerlink {
  text-decoration: none;
  font-size: 18px;
}

div.rst-content a.headerlink:after {
  visibility: visible;
  opacity: 0;
}

div.rst-content a.headerlink:hover:after {
  opacity: 1;
}
/*
 * BLOG CONTENT END
 */

 /*
 * DARK MODE STYLING START
 */
body.dark-mode,
.dark-mode .rst-content .toc-backref {
  color: #FFF7F7;
}

.dark-mode .section a.reference {
  color:#fff9f9;
}

.dark-mode .section a.reference:hover {
  color: #FFB600;
}

.dark-mode .wy-nav-content-wrap {
  background: #352b35;
}

.dark-mode .wy-menu-vertical li.current>a, 
.dark-mode .wy-menu-vertical li.on a {
  background: #352b35;
  border-color: #352b35;
  color: #FFF8F8;
}

.dark-mode .wy-menu-vertical li.current a {
  border: 0px;
  border-right: 3px solid #352b35;
}
 /*
 * DARK MODE STYLING END
 */


/*
 * SNIPPET START
 */
.highlight,
code, 
.rst-content tt, 
.rst-content code{
  background: #eeeeee;
  color: #404040;
}

.highlight .k{
  color: #0000ff;
  font-weight: normal;
}

.highlight .nv,
.rst-content tt.literal, 
.rst-content tt.literal, 
.rst-content code.literal{
  color: #333333;
}

.admonition {
  color: #404040;
}

.section .admonition a.reference {
  color: #312d2d;
}

.section .admonition a.reference:hover {
  color: #FFB600;
}
/*
 * SNIPPET END
 */

/*
 * RTD NAVBAR START 
 */
.wy-body-for-nav,
.wy-nav-top{
  background: #1e191e;
}

.wy-nav-top{
  background: #1e191e;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  display: flex;
  position: fixed;
  top: 64px;
  width: 100vw;
  height: 54px;
  z-index: 3;
}

.wy-nav-top a,
.wy-nav-top a:hover {
  color: #ffffff;
}

.wy-nav-top i {
  padding: 0px;
  margin-left: 12px;
  margin-right: 12px;
}

#search-button {
  font-size: 22px;
}

#menu-arrow-down,
#menu-arrow-right {
  font-size: 37px;
}

#menu-arrow-right {
  display: none;
  margin-right: 70px;
}

#menu-arrow-right.show {
  display: initial;
}

.dark-mode-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

i.dark-mode-toggler{
  cursor: pointer;
  font-size: 24px;
}

i.moon-icon {
  font-size: 16px;
}

i.moon-icon:hover {
  pointer-events: none;
}

.wy-nav-top-title {
  flex-grow: 2;
}

.wy-content-search > a,
.wy-content-search > a:hover {
	height: 95px;
	font-size: 0;
}

.wy-side-scroll {
  height: 100%;
}

.wy-side-nav-search {
  background: transparent;
  z-index: 4;
  margin: 0px;
}

.wy-side-nav-search > a,
.wy-side-nav-search > a:hover {
	display: inline-block;
	width: 200px;
	height: 95px;
	font-size: 0;
}

.wy-menu-vertical a,
.wy-menu-vertical li.on a, 
.wy-menu-vertical li.current > a{
  padding-top: 1em;
  padding-bottom: 1em;
}

.wy-menu-vertical li.current a,
.wy-menu-vertical li.toctree-l2.current > a{
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.wy-menu-vertical li.toctree-l2 li.toctree-l3.current > a {
  text-decoration: underline;
}

.wy-menu-vertical a.reference.internal:hover,
.wy-menu-vertical a.reference.internal:active{
  background: #4e4a4a1e;
  color: #FFB600;
}

.wy-menu-vertical li.current{
  background: rgba(0,0,0,0.5);
}

.wy-menu-vertical li.current a.reference.internal.current {
  border: 0px;
}

.wy-menu-vertical li.current a {
  border-right: 3px solid rgba(252,252,252);
}

.wy-menu-vertical li.toctree-l1.current > a.current,
.wy-menu-vertical li.toctree-l1.current > a {
  border: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.wy-menu-vertical li a span.toctree-expand ,
.wy-menu-vertical li.current a span.toctree-expand {
  margin-right: 7px;
  color: #948686;
}

.wy-menu-vertical li  a:hover span.toctree-expand,
.wy-menu-vertical li.current  a:hover span.toctree-expand,
.wy-menu-vertical li.on a:hover span.toctree-expand {
  color: #FFB600;
}

.wy-menu-vertical li.toctree-l2 a, 
.wy-menu-vertical li.toctree-l3 a, 
.wy-menu-vertical li.toctree-l4 a{
  color: #d9d9d9;
}

.wy-menu-vertical li.toctree-l2.current > a{
  background: #332c33cc;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a{
  background: transparent;
}

.wy-menu-vertical li.current li a:hover{
  background: rgba(255,255,231,0.5);
}

.wy-menu-vertical a{
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #8C8C8C;
  transition: color 0.3s ease;
}

a.mvp-link {
  color: #FFF8F8;
}

a.mvp-link:hover {
  color: #FFB600;
}

.wy-menu-vertical-icon {
  margin-right: 8px;
}

.wy-side-nav-search,
.wy-content-search input[type="text"]{
  border-color: #1e191e;
  border-radius: 4px;
}

.wy-content-search {
  background-color: #EFEFEF;
  padding: 12px;
  padding-left: 52px;
  padding-right: 52px;
  position: fixed;
  left: 300px;
  right:0px;
  height: 54px;
  top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.wy-form input[type="text"]{
  max-width: 100%;
  width: 350px;
}

a.main-logo:hover {
  background-color: transparent;
}

.wy-nav-side {
  background: transparent;
  margin-top: 64px;
  min-height: calc(100% - 64px);
  max-height: calc(100% - 64px);
  padding-bottom: 41px;
  z-index: 4;
}

.wy-side-hr{
  margin-bottom: 0px;
  margin-top: 22px;
}

.fa-search.input-icon {
  pointer-events: none;
  color: darkgray;
  position: absolute;
  margin: 6px;
}

input.search-text {
  padding-left: 25px;
}

.news-flash {
  display: none;
  align-items: center;
  justify-content: center;
}

.news-flash.show {
  display: flex;
}

.news-flash a {
  margin: 0px;
  font-size: 13px;
  color: #FFF7F7;
}

.news-flash a:hover {
  color: #FFB600;
  text-decoration: none;
}

img.news-icon {
  background-color: transparent;
  width: auto;
  height: auto;
  display: inline;
  margin: 4px;
  margin-right: 7px;
  margin-left: 2px;
  padding: 0px;
  border-radius: 0px;
}
/*
 * RTD NAVBAR END
 */

 /*
 * CHROMIA-HEADER START
 */
.dev-header {
  background-color: #FFB600;
  color: #1E191E;
  height: 64px;
  padding: 13px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
  font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
  font-weight: 700;
  align-items: center;
  position: fixed;
  z-index: 5;
}

.chromia-nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navbar-brand {
  width: auto;
  height: 100%;
}

.nav-icon {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.chromia-nav-links {
  display: flex;
  align-items: center;
}

a.chromia-nav-link {
  color: #1E191E;
  text-decoration: none;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.chromia-nav #hamburger-menu {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 24px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.12);
  border-width:1px;
  border-style: solid;
  width: 50px;
  height: 100%;
  padding: 6px;
  text-align: center;
  display: none;
}
/*
 * CHROMIA-HEADER END
 */

 /*
 * CSS only applied on screens sub 768 pixel width
 */
@media screen and (max-width: 768px) {
  .dev-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .chromia-nav #hamburger-menu { 
    display: initial;

  }
  .chromia-nav-links {
    display: block;
    position: fixed;
    top: 64px;
    right: 20px;
    left: 20px;
    background-color: rgb(14, 11, 14);
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
    max-height: 0px;
    transition: padding 0.4s ease, max-height 0.4s ease;
    overflow: hidden;
  }

  .grow-menu {
    padding: 12px;
    max-height: 500px;
  }

  a.chromia-nav-link {
    display: block;
    color:rgba(252, 245, 245);
    transition: color 0.25s ease;
    width: 100%;
    padding: 15px;
  }

  a.chromia-nav-link:hover {
    color:rgb(14, 11, 14);
  }

  input.search-text {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 33px;
  }

  .fa-search.input-icon {
    margin: 10px;
  }

  .wy-content-search {
    display: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    left: 0px;
    right: 0px;
    top: 118px;
    background-color: rgba(30, 25, 30);
  }

  .wy-content-search > .dark-mode-container {
    display: none;
  }

  .show {
    display: initial;
  }

  .wy-nav-content.showing-search-bar {
    margin-top: 108px;
  }

  .wy-form input[type="text"]{
    width: 100%;
  }

  .wy-nav-content-wrap.shift > .wy-nav-content > .wy-content-search.show {
    left: 85%;
    right: -50px;
  }
  .wy-nav-content-wrap.shift {
    top: 64px;
  }
}

 /*
 * CSS only applied on screens over 769 pixel width
 */
@media screen and (min-width: 769px) {
  .wy-nav-top{
    display: none;
  }

  .wy-content-search .dark-mode-container {
    margin-left: 20px;
  }

  .dark-mode .wy-content-search {
    background: #251f25;
  }
}

/*
* CSS only applies on screens sub 464 pixel width
*/
@media screen and (max-width: 464px) {
  .wy-nav-top {
    padding-left: 4px;
    padding-right: 4px;
  }

  .dev-header {
    padding-left: 7px;
    padding-right: 7px;
  }

  .chromia-nav-links {
    right: 7px;
    left: 7px;
  }
}